body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}
#root {
  height: 100vh;
}
.body {
  height: 100vh;
}
.body-content {
  display: flex;
  height: 100vh;
}
.login-content{
  display:flex;
  height:100vh;
  flex-direction: column;
  align-items: center;
  padding-top: 25%;
}
.login-button{
  background-color: white;
  border-color: grey;

}
a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid rgb(20, 20, 20);
  border-bottom: 1px solid rgb(20, 20, 20);
  padding-right:2%;
}

.logo-center {
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.header-title {
  font-size: 30px;
  user-select: none;
}
.header-sub {
  font-size: 10px;
  user-select: none;
  top: 48px;
}
.menu-line {
  width: 28px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

.menu {
  padding: 10px;
  padding-left: 18px;
  padding-right: 18px;
  margin-right: auto;
}

.button:hover {
  background-color: rgb(128, 128, 128);
  transition: 1s;
}

.notes-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 62px);
  width: 350px;
  border-right: 1px solid rgb(20, 20, 20);
}
.scroller {
  overflow: auto;
}

.note-header-flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(20, 20, 20);
}

.note-header-item {
  padding: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.plus-logo {
  font-size: 30px;
  font-weight: 900;
  user-select: none;
}

.note-item-flex {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 1px dashed rgb(192, 192, 192);
}
.note-item-flex:hover {
  background-color: rgb(128, 128, 128);
  transition: 1s;
}

.note-title {
  font-size: 1.3em;
  font-weight: bold;
  border: none;
}

.note-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
}

.note-title:focus {
  outline: none;
}

.note-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  width: 85%;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.note-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.note-text.note-item {
  padding-bottom: 0;
}
.note-editor {
  flex: 9;
  height: 100%;
}

.note-editor-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(20, 20, 20);
}

.note-editor-title {
  padding-left: 2%;
  flex: 6;
}

.datetime-selector {
  border: none;
  display: block;
}

.datetime-selector:focus {
  outline: none;
}
.save-button,
.delete-button {
  padding-top: 23.505px;
  padding-bottom: 23.505px;
  min-width: 100px;
  flex: 1;
  text-align: center;
  user-select: none;
  font-weight: bold;
}
.text-editor {
  height: 100%;
}
.ql-container.ql-snow {
  height: 100%;
}
.quill.editor-input {
  height: 100%;
}
.ql-editor > p {
  word-break: break-word;
}

.text-editor.hidden .ql-toolbar {
  visibility: hidden;
}

.note-active {
  background-color: rgb(128, 128, 128);
}

.instr-text {
  width: 100%;
}

.instr-text-p {
  padding-top: auto;
  text-align: center;
  padding-top: calc(50vh - 62px);
  color: rgba(39, 39, 39, 0.795);
  font-size: larger;
  font-weight: bolder;
}

.no-notes-p {
  padding-top: auto;
  text-align: center;
  color: rgba(39, 39, 39, 0.795);
  font-size: larger;
  font-weight: bolder;
  padding-top: 5%;
}
/* .S9gUrf-YoZ4jf {
  align-items: center !important;
} */
.profile{
  padding-right:1%;
}
